<% content_for :content do %>
  <div class="auth-wrapper">
      <div class="card">
              <a href="/"><h2><%= @site_title %></h2></a>
              <header>Login</header>

              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="form-group ">
                  <%= f.email_field :email, required: true, class: "form-control input" %>
                  <%= f.label :email %>
                </div>

                <div class="form-group ">
                  <%= f.password_field :password, required: true, class: "form-control input" %>
                  <%= f.label :password %>
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="form-group remember">
                    <%= f.check_box :remember_me, id: 'remember_me' %>
                    <%= f.label :remember_me, for: 'remember_me' %>
                  </div>
                <% end %>

                <div class="form-group ">
                  <%= f.submit "LOG IN", class: "button" %>
                </div>
              <% end %>

              <%= render "devise/shared/links" %>
      </div>
  </div>

<% end %>