<nav class="custom-navbar">
    <%= link_to "Ticket System", user_signed_in? ? authenticated_root_path : root_path, class: "custom-navbar-brand" %>

      <button class="custom-navbar-toggle" type="button">
          𑁔
        </button>


      <ul class="custom-navbar-nav">
        <% if user_signed_in? %>
          <li class="custom-nav-item"><%= link_to "Dashboard", dashboard_path, class: "custom-nav-link" %></li>
          <li class="custom-nav-item"><%= link_to "Tickets", tickets_path, class: "custom-nav-link" %></li>
          <li class="custom-nav-item"><%= link_to "Edit Profile", edit_user_registration_path, class: "custom-nav-link" %></li>
          <li class="custom-nav-item"><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "custom-nav-link" %></li>
        <% else %>
          <li class="custom-nav-item"><%= link_to 'New Ticket', new_ticket_path, class: "custom-nav-link" %>
          <li class="custom-nav-item"><%= link_to 'Login', new_user_session_path, class: "custom-nav-link" %>
          <li class="custom-nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "custom-nav-link" %></li>
        <% end %>
      </ul>
</nav>
