<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
  <title><%= content_for?(:title) ? yield(:title) : "Ticket System" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "About Sharks" %>">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
<header>
  <%= render 'layouts/header' %>
</header>

<main role="main">
  <% if content_for?(:content) %>
    <%= render 'layouts/flash'%>
    <%= yield(:content) %>
  <% else %>
    <%= render 'layouts/flash'%>
    <div class="container">
      <div class="row">
        <div class="col">
          <%= yield %>
        </div>
      </div>
    </div>
  <% end %>
</main>
<%= render 'layouts/footer' %>
<script>
  const navToggleButton = document.getElementsByClassName('custom-navbar-toggle')[0]
  navToggleButton.addEventListener('click', ()=>{
    const dropdownMenu = document.getElementsByClassName('custom-navbar-nav')[0];
    dropdownMenu.classList.toggle('hidden');
  })
</script>
</body>
</html>
